<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue test</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <style>
            
        </style>
        <div id="app">
            <button @click="pushTodo">push</button>
            <ul class="todos">
                <li v-for="(todo, index) in todos" :key="index">
                    {{ todo.title }}
                </li>
            </ul>
            <ul class="hm">
                <li v-for="(value, key, index) in hm" :key="index">
                    {{ value }}
                </li>
            </ul>
        </div>

        <script>
            const vm = new Vue({
                el: '#app',
                data: {
                    todos: [
                        { title: '아침 먹기'},
                        { title: '점심 먹기'},
                        { title: '저녁 먹기'},
                    ],
                    hm: {
                        name: 'hm',
                        age: 24
                    }
                },
                methods: {
                    toggle() {
                        this.show = !this.show
                    },
                    pushTodo() {
                        this.todos.push({title: '야식먹기'})
                    }
                },
                computed: {
                    computedTodos() {
                        
                    }
                },
                watch: {}
            })
        </script>
    </body>
</html>