<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue test</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <style>
            .normal {
                font-size: large;
                color: red;
            }
            .active {
                font-size: small;
                color: blue;
            }
        </style>
        <div id="app3">
            <div v-for="todo in todos" :key="todo.id">
                <input type="checkbox" v-model="todo.done">
                <span> {{ todo.title }} </span>

            </div>
        </div>

        <script>
            const vm = new Vue({
                el: '#app3',
                data: {
                    todos: [
                        {
                            title: '아침 먹기'
                        }, {
                            title: '점심 먹기'
                        }, {
                            title: '저녁 먹기'
                        }
                    ]
                },
                methods: {
                    changeColor() {
                        this.className = 'active';
                        this.s = !this.s;
                    }
                },
                computed: {
                    computedTodos() {
                        return this.todos.map((todo, index) => {
                            // return Object.assign({}, todo, {
                            //     id: index + 1,
                            //     done: false
                            // })
                            return {
                                ...todo,
                                id: index +1,
                                done: false
                            }
                        })
                    }
                },
                watch: {},
                created() {
                    console.log('created!');
                    console.log(this.msg);
                },
                mounted() {
                    console.log('mounted');
                }
            })
        </script>
    </body>
</html>