.game-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
}
.game-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-menu__icon {
  margin: 10px;
}
.game-menu__icon img {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.game-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
}
.game-title h2 {
  text-align: center;
}

.game-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.game-info__icon {
  margin: 10px;
}

.game-info__icon img {
  width: 30px;
  height: 30px;
}
